# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and build output
node_modules
dist
dist-ssr

# Local application files
*.local
src-tauri/binaries/

# Editor metadata
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Operating system files
.DS_Store

# Temporary editor files
*.sw?
